## What is Python Operator?

## Python operator is a symbol that performs an operation on one or more operands. An operand is a variable or a value on which we perform the operation.

## Python Operator falls into 6 categories:
## 1.Arithmetic Operator
## 2.Relational Operator
## 3.Assignment Operator
## 4.Logical Operator
## 5.Membership Operator
## 6.Identity Operator

In [1]:
#Addition(+)

#Adds the values on either side of the operator.

3+4

7

In [2]:
# b. Subtraction(-)
# Subtracts the value on the right from the one on the left.
3-4

-1

In [4]:
# c. Multiplication(*)
# Multiplies the values on either side of the operator.

3*4

12

In [5]:
# d. Division(/)
# Divides the value on the left by the one on the right. Notice that division results in a floating-point value.

3/4

0.75

In [7]:
# e. Exponentiation(**)
# Raises the first number to the power of the second.

2*2

4

In [8]:
2*2*2

8

In [9]:
2*2*2*2

16

In [13]:
# f. Floor Division(//)
# Divides and returns the integer value of the quotient. It dumps the digits after the decimal.

3//4

0

In [10]:
2**2

4

In [11]:
2**3

8

In [12]:
2**4

16

In [15]:
# g. Modulus(%)
# Divides and returns the value of the remainder.

3%4

3

In [14]:
10%3

1

### Python Relational Operator

In [16]:
# a. Less than(<)
# This operator checks if the value on the left of the operator is lesser than the one on the right.

3<4

True

In [18]:
10<5.0

False

In [19]:
9==9.0

True

In [20]:
# b. Greater than(>)
# It checks if the value on the left of the operator is greater than the one on the right.

3>4

False

In [3]:
# c. Less than or equal to(<=)
# It checks if the value on the left of the operator is lesser than or equal to the one on the right.
7<=7

True

In [21]:
10<=5

False

In [4]:
# d. Greater than or equal to(>=)
# It checks if the value on the left of the operator is greater than or equal to the one on the right.

0>=0

True

In [22]:
# e. Equal to(= =)
# This operator checks if the value on the left of the operator is equal to the one on the right.

# 1 is equal to the Boolean value True, but 2 isn’t. Also, 0 is equal to False.

3==3.0

True

In [24]:
1==1

True

In [25]:
2==2

True

In [5]:
1==True

True

In [26]:
2==True

False

In [7]:
7==6

False

In [27]:
1==True

True

In [28]:
0==False

True

In [30]:
# f. Not equal to(!=)
# It checks if the value on the left of the operator is not equal to the one on the right.

# The Python operator <> does the same job, but has been abandoned in Python 3.

# When the condition for a relative operator is fulfilled, it returns True. Otherwise, it returns False. You can use this return value in a further statement or expression.

1!=1.0

#This causes a syntax error

False

In [31]:
-1<>-1.0

SyntaxError: invalid syntax (48856008.py, line 1)

# Assignment Operator

In [15]:
# a. Assign(=)
# Assigns a value to the expression on the left. Notice that = = is used for comparing, but = is used for assigning.

a=7
print(a)

7

In [16]:
# b. Add and Assign(+=)
# Adds the values on either side and assigns it to the expression on the left. a+=10 is the same as a=a+10.

# The same goes for all the next assignment operators.

a+=2
print(a)

9

In [17]:
# c. Subtract and Assign(-=)
# Subtracts the value on the right from the value on the left. Then it assigns it to the expression on the left.

a-=2
print(a)

7

In [18]:
# d. Divide and Assign(/=)
# Divides the value on the left by the one on the right. Then it assigns it to the expression on the left.
a/=7
print(a)

1.0

In [19]:
# e. Multiply and Assign(*=)
# Multiplies the values on either sides. Then it assigns it to the expression on the left.

a*=8
print(a)

8.0

In [26]:
# f. Modulus and Assign(%=)
# Performs modulus on the values on either side. Then it assigns it to the expression on the left.

a%=3
print(a)

2.0

In [27]:
# g. Exponent and Assign(**=)
# Performs exponentiation on the values on either side. Then assigns it to the expression on the left.

a**=5
print(a)

32.0

In [18]:
# h. Floor-Divide and Assign(//=)
# Performs floor-division on the values on either side. Then assigns it to the expression on the left.

a//=3
print(a)

10.0

# 4. Python Logical Operator
# These are conjunctions that you can use to combine more than one condition.

# We have three Python logical operator – and, or, and not that come under python operators.

In [30]:
# a. and Operator in Python
# If the conditions on both sides of the operator are true, then the expression as a whole is true.

a=7>7 and 2>1
print(a)

False

In [31]:
7==7 or 2<-1

True

In [20]:
# b. or Operator in Python
# The expression is false only if both the statements around the operator are false. Otherwise, it is true.

a=7>7 or 2>-1
print(a)

True

In [35]:
a=7

In [39]:
# c. not Operator in Python
# This inverts the Boolean value of an expression. It converts True to False, and False to True.

# As you can see below, the Boolean value for 0 is False. So, not inverts it to True.

a==0
a=not(0)
print(a)

True

In [40]:
# 5. Membership Python Operator
# These operators test whether a value is a member of a sequence. The sequence may be a list, a string, or a tuple.

# We have two membership python operators- ‘in’ and ‘not in’.?
# a. in Operator in Python
# This checks if a value is a member of a sequence.

# In our example, we see that the string ‘fox’ does not belong to the list pets. But the string ‘cat’ belongs to it, so it returns True.

# Also, the string ‘me’ is a substring to the string ‘disappointment’. Therefore, it returns true.

pets=['dog','cat','ferret']

print('fox' in pets)

print('\n')

print('cat' in pets)

False


True

In [41]:
# b. not in Operator in Python
# Unlike ‘in’, ‘not in’ checks if a value is not a member of a sequence.

'pot' not in 'disappointment'

True

In [ ]:
# 6. Python Identity Operator
# Let us proceed towards identity Python Operator.

# These operators test if the two operands share an identity. We have two identity operators- ‘is’ and ‘is not’.

In [42]:
# a. is Operator in Python
# If two operands have the same identity, it returns True. Otherwise, it returns False. Here, 2 is not the same as 20, so it returns False.

# Also, ‘2’ and “2” are the same. The difference in quotes does not make them different. So, it returns True.


print(2 is 2)

print('2' is '20')

print('2' is "2")

True
False
True

<>:7: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:9: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:11: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:7: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:9: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:11: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\rajat.k.srivastava\AppData\Local\Temp\ipykernel_3840\2876443660.py:7: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print(2 is 2)
C:\Users\rajat.k.srivastava\AppData\Local\Temp\ipykernel_3840\2876443660.py:9: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print('2' is '20')
C:\Users\rajat.k.srivastava\AppData\Local\Temp\ipykernel_3840\2876443660.py:11: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print('2' is "2")

In [41]:
# b. is not Operator in Python
# 2 is a number, and ‘2’ is a string. So, it returns a True to that.

2 is not '2'

<>:4: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:4: SyntaxWarning: "is not" with a literal. Did you mean "!="?
C:\Users\rajat.k.srivastava\AppData\Local\Temp\ipykernel_16904\2384183299.py:4: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  2 is not '2'

True

In [44]:
# Bit wise operator in python
# And opertor 

4 & 5

4

In [45]:
bin(4)

'0b100'

In [46]:
bin(5)

'0b101'

In [48]:
bin(6577)

'0b1100110110001'

In [49]:
bin(86868)

'0b10101001101010100'

In [50]:
6577 & 86868

4368

In [52]:
bin(4)

'0b100'

In [57]:
int(0b100)

4

In [59]:
int(0b1000100010000)

4368